.header {
  background-image: url(../../assets/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

.cardSection {
  width: 85%;
  margin: 150px auto;
}

.heading {
  font-size: 24px;
  color: #002f34;
}
